@font-face{
  font-family: 'instagramSans';
  src: url(Instagram\ Sans\ Headline.otf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #ddd;
}
.header{
  height: 70px;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
  padding: 10px;
}
.header-father{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: auto;
  max-width: 1100px;
  padding: 0 15px;
}
.header_loginForm input[type=text],
.header_loginForm input[type=password]{
  padding: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid #ddd;
  outline: none;
}
.header_loginForm input[type=submit]{
  background-color: #0095f6;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
}
.btn_criarConta{
    font-size: 17px;
    margin: 0 10px;
    color: #0095f6;
}
.header_logadoInfo a{
  margin: 0 10px;
  background-color: #0095f6;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}
.ModalCriarConta{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.formCriarConta{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 20px ;
  width:80%;
  max-width: 700px;
  text-align: center;
}
.formCriarConta input{
    width: 100%;
    margin-top: 10px;
    height: 40px;
    padding-left: 10px;
    border: #ccc solid 1px;
    outline: none;
    
}
.formCriarConta input[type=submit]{
  background-color: #0095f6;
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 17px;
}
.close-modal-criar{
  font-size: 20px;
  position: absolute;
  right: -15px;
  top: -18px;
  cursor: pointer;
  background-color: #0095f6;
  padding: 5px 15px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}